---
layout: default
title: DrumMantra 3030 | About
subTitle: Get Ready To Go Deeper
body-id: sales-page
css: 
  - about
  - main
event-code: 
  - Lead
  - ViewContent
---

{% include nav.html %}

<div class="about-page--wrapper">
	<section class="dm3030-description__section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h1 class="dm3030-description__h1 text-center">What is the DrumMantra 3030?</h1>

					<div class="divider"></div>

					<h1 class="dm3030-description__h2 text-center">30 Lessons. 30 Days.</h1>

					<p class="dm3030-description__p">The DrumMantra3030 is a brand-new educational drumming course that is designed to take your practice to an <em>extremely deep</em> level.</p>

					<p class="dm3030-description__p">Every day for thirty days straight, you are delivered a 30-minute long series of exercises to practice along with.</p>

					<p class="dm3030-description__p">All that is required of you is a commitment to practicing at least a half an hour a day. <em>(And if you’re serious about your playing, 30 minutes should be a small fraction of your daily practice)</em>.</p>
					 
					<p class="dm3030-description__p"><strong>I did a survey with over 50 drummers and here are the statistics from a couple of the questions I asked:</strong></p>

					<img src="/public/img/about-page/survey.png" class="img-responsive center-block dm3030-description__img" alt="survey results">

					<p class="dm3030-description__p">I found it quite interesting that the majority of drummers practice between 30 and 45 minutes per day, but even more interesting is the VAST MAJORITY of drummers don’t have a precise, consistent practice routine to follow. <em>(To me, “sometimes” is the same as “no”).</em></p>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section><!-- /dm3030-description__section -->

	<section class="dm3030-background__section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h2 class="dm3030-background__h2 text-center">What is the background of The DrumMantra?</h2>

					<p class="dm3030-background__p">Starting in about 2007 I began developing a concept called “DrumMantra” which was basically the study of the “art and science of polymetric relationships.” My fascination with these little organic rhythm entities turned into a new direction of practice for me.</p>

 

					<p class="dm3030-background__p">After a couple years I had written so many little exercises out for myself to work on, I realized I had written not one, not two, but NINE books worth of material. So, I dove in and spent nearly two years really hashing out and writing book one, The Foundational Series. This book was released 9 years after I the first time I used the word “DrumMantra” to explain this new system.</p>
 

					<p class="dm3030-background__p">The Foundational Series was released in November 2017 and sold hundreds of copies all around the world. It seemed like everyone was doing great with the book because I wasn’t getting too many questions about it.</p>
					 

					<p class="dm3030-background__p">I decided to move forward and released book two, The Primary Series, one year later in November 2017. I began writing play-alongs for the Primary Series and started practicing the material myself at the same time I was starting to do workshops, clinics, and master classes on The Foundational Series with drummers from around the country. I realized that The Foundational Series was much more advanced than I had anticipated.</p>
					 

					<p class="dm3030-background__p">After about 18 months of working with groups of people on the Foundational Series, I was asked to create a 30-day lesson plan or curriculum as a guide for the book, so I did. Upon completion of creating the curriculum outline, I set out to compose a play-along for every single exercise in the course. 125 to be exact.</p>
					 

					<p class="dm3030-background__p">Every original composition is explicitly designed to carry you through each exercise. Sometimes the play-along accompany you, sometimes they are playing rhythmic counterpoint with you. But you are always practicing with music, which is so important to maintain a clear focus on what all this is actually about - making music.</p>

					<img src="/public/img/dm-3030-logo.png" class="img-responsive center-block dm3030-background__img" align="dm3030 logo">

					<p class="dm3030-background__p">Before releasing the DrumMantra3030 to the world, I wanted to test it out to make sure it was doing everything I intended for the practitioner, So I organized a group of drummers from around the world that I named the “Test Pilots.” These were guys who seemed to take a particular interest in my material and would post about it. I thought they would be perfect candidates to try the entire course out.</p>

					<p class="dm3030-background__p">I created a mock course with just the audio files and exercise descriptions (no video yet), and we began. These eight drummers had never met, but I put them all in a virtual room together (a slack channel), asked them to introduce themselves to each other, and away we went.</p>

					<div id="cta" class="dm3030-course-info__div">
						<p class="dm3030-course-info__p--cta text-center">Stay Up To Date On Course Information</p>

						{% include email-input.html%}
						
					</div><!-- /dm3030-course-info__div -->
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section><!-- /dm3030-background__section -->

	<section class="dm3030-testimony__section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h2 class="dm3030-testimony__h2 text-center">Here are the DrumMantra3030 test pilots:</h2>

					<img src="/public/img/about-page/test-pilots.jpg" class="img-responsive center-block dm3030-testimony__img">

					<p class="dm3030-testimony__p">All of my fears and doubts were laid to rest almost immediately. “Is this going to be too boring, too easy, too monotonous, etc.” <em>No. No. No.</em> Everyone was so receptive and had terrific things to say about the course every step of the way. If anything, I was asked to slow the exercises down considerably <em>(which I did)</em>.</p>

					<p class="dm3030-testimony__h3--quotes text-center"><em>…and some quotes from the Test Pilots:</em></p>

					<p class="dm3030-testimony__p--quotes text-center">“I'm feeling the progressive stages of learning, and to be familiar with the systematic approach helps tremendously. The thing I like the most is the concentration it requires, in a good way. When I finish, I feel like a kind of beautiful feeling of relaxing the mind after good work, but wanting more.”</p>
					
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Carlos P., Santa Cruz de Tenerife, Spain</p> 

					<p class="dm3030-testimony__p--quotes text-center">“...it felt like it became a performance piece to me rather than a workout.”</p>
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Bradley G., Winnipeg, Manitoba, Canada</p>

					<p class="dm3030-testimony__p--quotes text-center">“This past week was a building block, and after today I’m feeling more confident and relaxed. My mental focus has improved within the week, and I feel it has impacted me as a teacher. Thanks, Rich and everyone on this journey! I’m inspired every day to become a better musician and educator by being apart of this project! Thanks, guys!”</p>
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Josh B. Denver, Colorado</p>

					<p class="dm3030-testimony__p--quotes text-center">“It’s been a long time since I’ve practiced 5 days in a row and I can definitely feel that it is working already. I already feel more steady and calm with my time. It is a great feeling.”</p>
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Stefan V., The Hague, Netherlands</p>
					 
					<p class="dm3030-testimony__p--quotes text-center">“My limbs played for themselves, not perfect, but way better than yesterday. I mostly could relax while playing and even when I failed I stayed relaxed and calm. It was beautiful to feel the improvements. And this before breakfast…”</p>
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Lukas L., Wädenswil, Switzerland</p>
					 
					<p class="dm3030-testimony__p--quotes text-center">“I love the quality, sound and aesthetic of the videos!”</p>
					<p class="dm3030-testimony__p--quotes test-pilot text-center">- Geo M., Los Angeles, California</p>

					<div class="dm3030-course-info__div">
						<p class="dm3030-course-info__p--cta text-center">Stay Up To Date On Course Information</p>

						<a class="main__btn">Learn More</a>
						
					</div><!-- /dm3030-course-info__div -->
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section><!-- /dm3030-testimony__section -->

	<section class="dm3030-course-content__section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<h2 class="dm3030-course-content__h2 text-center">What does this course cover?</h2>

					<p class="dm3030-course-content__p">This is a “cross-training” course in that you are developing multiple things at once. These exercises are long. They are designed to develop muscle memory, so your body is able to more quickly and efficiently express itself in a musical way when the time comes. The many repetitions of each exercise are the foundation of the concept “DrumMantra” which means rhythmic repetition.</p>

					<ul class="dm3030-course-content__ul">
						<li class="dm3030-course-content__li">You will experience three different time signatures in the course: 4/4, 3/4, and 5/4. (Day 1-15 is in 4/4, Day 16-23 is in 3/4, Day 24-29 is in 5/4, and Day 30 is in all three.)</li>
						<li class="dm3030-course-content__li">You will experience 5 different stickings - RLRL, LRLR, RRLL, LLRR, and RLRRLRLL</li>
						<li class="dm3030-course-content__li">You will experience accent permutations and pulse displacements.</li>
						<li class="dm3030-course-content__li">You will experience “moving clicks” where the click may move by a 16th note every four measures. Or the click may be in 3/4 and then suddenly in 12/8, etc.</li>
						<li class="dm3030-course-content__li">You will experience the 3:4 and 5:4 polymetric relationships as well as a comprehensive and in-depth coordination study of both.</li>
						<li class="dm3030-course-content__li">You will experience advanced phrasing concepts and rhythmic reading.</li>
						<li class="dm3030-course-content__li">You will experience progressive coordination between the hands and one foot.</li>
						<li class="dm3030-course-content__li">You will experience three “meditations,” which are exercises that last around 35 minutes without stopping.</li>
						<li class="dm3030-course-content__li">You will develop the ability to discern a 1bpm change in tempo through exercises designed to train your internal clock.</li>
						<li class="dm3030-course-content__li">You will develop your patience, focus, discipline, awareness, concentration. You will strengthen your endurance, consistency, accuracy, precision.</li>
						<li class="dm3030-course-content__li">You will deepen your coordination, sense of phrasing, understanding of odd time signatures, knowledge of polymetric relationships.</li>
					</ul>

					<div class="dm3030-course-info__div">
						<p class="dm3030-course-info__p--cta text-center">Stay Up To Date On Course Information</p>

					<a class="main__btn">Learn More</a>
						
					</div><!-- /dm3030-course-info__div -->
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section><!-- /dm3030-course-centent__section -->
</div><!-- /about-page--wrapper -->	

{% include footer.html %}