---
layout: tradeshow
body-id: chicago
title: DrumMantra 3030 | Chicago Drum Show
subTitle: DrumMantra 3030, Coming Soon...
css: 
  - chicago-drum-show
  - main
---

<section>
	<div class="drum-show__div--hero">

		<div class="container">

			<div class="row">
        <div class="col-xs-12">
            
            <h2 class="text-center drum-show__h2"><span class="drum-show__span--heading">Transform Your Drumming Today...</span><br/>
             DrumMantra 3030</h2>

            <p class="text-center drum-show__p--3030">30 Days of Lessons, 30 Minutes of Focused Practice</p>
        </div>
			</div>

			<div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center">
        	<hr class="sample__hr">
          <h2 class="sample__h2">
          	Tap A Button To Play Along With A Sample Exercise 
          </h2>
          <div class="sample__div--buttons">
	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="Rz4NDj_rysM" 
	          				data-exercise-title="Introduction To The DrumMantra 3030">
	          			  Intro
	      		</button>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="lL2UJ9qrwM4" 
	          				data-exercise-title="Example 1">
	          			  Example 1
	      		</button>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="TxOlQaZcRDk" 
	          				data-exercise-title="Example 2">
	          			  Example 2
	      		</button>
	      		<br>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="5E5Ijrv55_c" 
	          				data-exercise-title="Example 3">
	          			 Example 3
	      		</button>


	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="iNdy_Wr8rq4" 
	          				data-exercise-title="Example 4">
	          			  Example 4
	      		</button>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="-T0AnDAh5N4" 
	          				data-exercise-title="Example 5">
	          			  Example 5
	      		</button>
	      		<br>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="0xPRSN9Al1M" 
	          				data-exercise-title="Example 6">
	          			  Example 6
	      		</button>

	          <button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="twHCQ-x9R5w" 
	          				data-exercise-title="Example 7">
	          			  Example 7
	      		</button>

	      		<button class="sample__btn" 
	          				data-toggle="modal" 
	          				data-target="#courseSampleModal" 
	          				data-video-id="phNtePRQKK4" 
	          				data-exercise-title="Example 8">
	          			  Example 8
	      		</button>
          </div>
      		<hr class="sample__hr">
        </div>
			</div>


			<div class="row">
        <div class="col-sm-5 col-xs-offset-1 text-center">
        	<h2 class="sample__h2 email__h2">
        		Stay Up To Date With Rich Stitzel <br>
        		And The DrumMantra 3030 Course
          </h2>
<!-- 
          <p class="sample__p">Claim <span style="font-size: 1.75rem; margin-left: 3px;">$10 OFF</span> the upcoming DM3030 video course.</p>

          <p class="sample__p">Drum Show Weekend Only!</p> -->
        </div>

        <div class="col-sm-5 text-center">
        	<div class="email-wrapper">
            {% include email-input.html %}
        	</div>
        </div>
			</div>
		</div><!-- /.container -->
		{% include video-modal.html %}
	</div><!-- /drum-show__div--wrapper -->
</section>

