<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
        <div class="col-xs-12">
          <div class="intro-message">
            <h2>Transform The Way You <span class="text-nowrap">Practice Drums</span></h2>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="video-container">
            <iframe class="course__iframe" src="https://player.vimeo.com/video/271765160" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="intro-message">
            <p class="text-center" style="color: #fbd335;"><em>Get 7 FREE Mini Lessons From The Course Today</em></p>
              <div class="email-wrapper">
                {% include email-input.html %}
              </div>
          
            <img src="/public/img/dm-3030-logo.png" alt="DrumMantra 3030" class="img-responsive center-block" style="max-width: 400px;">
          </div>
        </div>
      </div>  
    </div><!-- /.container -->
  </div><!-- /.intro-header -->
</section>
