<head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119900856-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-119900856-1');
    </script>

    <meta property="og:url"                content="https://drummantra3030.com" />
    <meta property="og:title"              content="30 Lessons. 30 Days. DrumMantra 3030" />
    <meta property="og:description"        content="Over 15 hours of guided exercises to improve your Time, Feel, and Confidence on the drums. " />
    <meta property="og:image"              content="https://drummantra3030.com/public/img/dm-3030-og2.jpg" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">



    {% if page.hide == true %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    {% if page.css %}
    {% for stylesheet in page.css %} <link href="/public/css/{{ stylesheet }}.css" rel="stylesheet"> {% endfor %}
    {% else %}
        <link href="/public/css/main.css" rel="stylesheet">
    {% endif %}    
    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include fb-pixel.html %}

</head>