<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top dm3030__nav" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
       <!--  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
            	<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div> -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
                <div class="col-sm-7 col-sm-push-5">
                    <div class="intro-message">
                        <img src="img/dm-3030-logo-xs.png" alt="DrumMantra 3030" class="img-responsive center-block visible-xs  intro-message__img--mobile">
                        <!-- <h3>Coming Soon...</h3> -->
                        <h3 style="font-size: 40px; margin-bottom: 1em;">Stay Tuned...<br>More Info Coming Soon...</h3>
                        <!-- 
                        <h2 class="text-center">30 Lessons <br>30 Minutes <span class="text-nowrap">A Day</span></h2>

                        <p class="text-center">Learn How You Can Transform <br class="hidden-lg">Your Drumming Today</p> -->
                        <div class="embed-container"> 
                            
                           <iframe src="https://player.vimeo.com/video/264747512"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 col-sm-pull-7">
                    <div class="intro-message">
                        <img src="img/dm-3030-logo.png" alt="DrumMantra 3030" class="img-responsive center-block">
                    </div>
                </div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
