
<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
        <div class="col-xs-12">
          <div class="intro-message">
            <p>Drummers All Over The World Are Transforming The Way They Practice</p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="video-container">
            <iframe class="course__iframe" width="100%" height="100%" src="https://www.youtube.com/embed/Rz4NDj_rysM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="intro-message">
            <p class="text-center" style="color: #fbd335;"><em>Get 7 FREE Mini Lessons From The Course Today</em></p>
              <div class="email-wrapper">
                {% include email-input.html %}
              </div>
          
            <img src="/public/img/dm-3030-logo.png" alt="DrumMantra 3030" class="img-responsive center-block" style="max-width: 400px;">
          </div>
        </div>
      </div>  
    </div><!-- /.container -->
  </div><!-- /.intro-header -->
</section>
