<!-- jQuery Version 1.11.0 -->
<script src="/public/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/public/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/public/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/public/js/landing-page.js"></script>

<!-- Moment JavaScript -->
<script src="/public/js/moment.min.js"></script>


<!-- Timer JavaScript -->
<script src="/public/js/timer.js"></script>

<script type="text/javascript">
  
  $('.main__btn').on('click', function(){
     
       $("html, body").animate({ scrollTop: $('#cta').offset().top}, 500);
    });
</script>

<script type="text/javascript">
  $('#courseSampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var videoID = button.data('video-id') // Extract info from data-* attributes
  var title = button.data('exercise-title')
 
  var modal = $(this)
  modal.find('.modal-title').text(title)
  modal.find('.course__iframe').attr('src', 'https://player.vimeo.com/video/' + videoID)
})

  $('#courseSampleModal').on('hidden.bs.modal', function(event){
  	var modal = $(this)
  	modal.find('.course__iframe').attr('src', null)
  })
</script>