<div class="modal fade" id="postRegistration" tabindex="-1" role="dialog" aria-labelledby="postRegistration" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body text-center">
         <h2 class="modal__h2">Stay Up To Date With The <span class="text-nowrap">DrumMantra 3030</span></h2>
        <p class="modal__p">Get This Free Lesson: <em>A simple exercise that trips up 90% of drummers…</em></p>
        {% include post-july-registration-optin.html %}
      </div>
     
    </div>
  </div>
</div>