	<!-- BEGIN: Testimony Section -->
	<section class="testimony__section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="testimony__h2">Hear What Drummers All Around The World Are Saying…</h2>
				</div><!-- /col -->
			</div><!-- /row -->

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="video-container testimonial__div--video">
	          <iframe class="course__iframe" src="https://player.vimeo.com/video/276941598" frameborder="0" allowfullscreen></iframe>
	        </div><!-- /video-container -->

	        <p class="testimony__p--name">Bradley Grieve</p>
	        <p class="testimonial__p--detail">Winnipeg, Manitoba</p>
				</div><!-- /col -->

				<div class="col-xs-12 col-sm-6">
					<div class="video-container testimonial__div--video">
	          <iframe class="course__iframe" src="https://player.vimeo.com/video/276943256" frameborder="0" allowfullscreen></iframe>
	        </div><!-- /video-container -->

	        <p class="testimony__p--name">Lukas Landis</p>
	        <p class="testimonial__p--detail">Wädenswil, Switzerland</p>
				</div><!-- /col -->
			</div><!-- /row -->

			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="video-container testimonial__div--video">
	          <iframe class="course__iframe" src="https://player.vimeo.com/video/276942339" frameborder="0" allowfullscreen></iframe>
	        </div><!-- /video-container -->

	        <p class="testimony__p--name">Josh Beyers</p>
	        <p class="testimonial__p--detail">Denver, Colorado</p>
				</div><!-- /col -->

				<div class="col-xs-12 col-sm-6">
					<div class="video-container testimonial__div--video">
	          <iframe class="course__iframe" src="https://player.vimeo.com/video/276947261" frameborder="0" allowfullscreen></iframe>
	        </div><!-- /video-container -->

	        <p class="testimony__p--name">Carlos P&#233;resz</p>
	        <p class="testimonial__p--detail">Santa Cruz de Tenerife, Spain</p>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /container  -->
	</section><!-- /section -->
	<!-- END: Testimony Section -->