.klaviyo_styling {
    max-width: 400px !important;
}

.klaviyo_submit_button {
    display: block !important;
    min-width: 250px !important;
    max-width: 500px !important;
    background-color: $accent !important;
    font-size: 2em !important;
    font-weight: 700 !important;
    padding: 10px 25px 40px !important;
    border-radius: 5px !important;
    margin: 1.25 auto !important;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: darken($accent, 20%);
    }
}

.klaviyo_field_group {
    margin: 0 auto 20px !important;
}

.klaviyo_styling label {
    color: $dark;
}

.success_message {
    color: $dark;
}